$ai_base_lines: 4;
$ai_base_line_size: 7;

.AI_extraction_module {
    padding: $base * 2 $base;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;

    .AI_column {
        height: 100%;
        overflow: hidden;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
    }

    .AI_settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: $base;

        span {
            font-size: 1rem;
        }
    }

    // COLUMNS 


    //TITLE

    .title {
        display: flex;
        align-items: center;
        margin: 0 0 $base * .5;
        color: $source_text;

        .fa {
            margin-right: $base;
            font-size: .9rem;
            color: $source_text;
        }
    }

    // TERMS
    .terms {
        background-color: $light_bg;
        height: calc(#{$base * ($ai_base_line_size * $ai_base_lines)} - 1px);
        overflow: hidden;
        display: grid;
        grid-template-rows: repeat($ai_base_lines, minmax($base * $ai_base_line_size, 1fr));
        grid-template-columns: 100%;

        // MAIN TERM STYLES (OLD TERM) 
        .term {
            width: 100%;
            border-bottom: 1px solid #585858;
            display: flex;
            align-content: center;
            min-height: $base * $ai_base_line_size;
            background-color: #363636;
            transition: background-color 300ms ease;


            .termText {
                padding: $base $base * 1.5 calc(#{$base} - 1px);
                display: flex;
                justify-content: center;
                flex-direction: column;
                overflow: hidden;

                // INPUT LANGUAGE
                .source_text,
                .referent_text {
                    font-size: 12px;
                    line-height: $base * 2.5;
                    color: $source_text;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                // INTERPRETERS LANGUAGE
                .target_text,
                .number_text {
                    font-size: 14px;
                    line-height: $base * 2.5;
                }
            }

            // NEW TERM
            &.newTerm {
                // background-color: $new_term_bg;
                position: relative;
                border-bottom: 1px solid #35556d;
                animation: newTermInBg 450ms ease-in-out 1ms 1 normal forwards;

                * {
                    visibility: hidden;
                    opacity: 0;
                    animation: newTermIn 750ms ease-in-out 1ms 1 normal forwards;
                }
                
                .newIndicator {
                    width: 3px;
                    height: 30px;
                    background-color: $newIndicator;
                    position: absolute;
                    transform: translate(0, -50%);
                    top: 50%;
                }

                .target_text {
                    font-weight: 600;
                }

                &:hover {
                    background-color: #0b3147;
                }
            }

            &.double {
                grid-row-end: span 2;
            }

            &.ellipsis {
                overflow: hidden;
                grid-row-end: span 1 !important;

                .target_text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &:hover {
                background-color: #313131;
            }
        }
    }
}

@keyframes newTermIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes newTermInBg {
    from {
        background-color: #363636;
    }
    to {
        background-color: $new_term_bg;
    }
}